    <% title = 'Node.js Demo-Home' %>
    <% layout('./shared/layout') -%>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-3"><strong>To Do List</strong> Node.js, Express.js, EJS, and Dynamo Db Demo</h1>
            <p class="lead">This is a test to show case Node.js and Dynamo Db <small>(and using Bootstrap 4.0 alpha)</small></p>
        </div>
    </div>