    <% title = 'Todos' %>
    <% layout('./shared/layout') -%>
    <div class="container">
        <% if(todos.length===0){ %>
            <p>Everything is Done!!! Good Job!</p>
        <%}%>
        <hr/>
        <div class="card-columns">
        <% for(var i=0;i<todos.length;i++){%>
            <div class="card card-inverse text-xs-center" style="background-color:<%=todos[i].color%>;border-color:<%=todos[i].color%>">
              <div class="card-block">
                <blockquote class="card-blockquote">
                  <p><%=todos[i].text%></p>
                  <footer>Due Date:<%=todos[i].dueDate%></footer>
                </blockquote>
              </div>
            </div>
        <%}%>
        </div>
        <br/>
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
        Add a new task
    </button>
    </div>

<div class="modal info" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">New Todo:</h4>
      </div>
      <div class="modal-body">
            <div class="card row">
                <div class="span5 col-md-5" id="dueDate">
                    <div id="datePicker"></div>
                </div>
                <br/>
                <div class="col-md-7">
                    <textarea class="form-control" id="newTask" rows="3" style="width:65%"></textarea>
                </div>

            </div>



            <ul id="menu" class="mfb-component--br mfb-zoomin" data-mfb-toggle="hover">
          <li class="mfb-component__wrap">
            <a href="#" class="mfb-component__button--main">
                
              <i class="mfb-component__main-icon--resting"><span class="fa fa-plus"></span></i>
              <i class="mfb-component__main-icon--active"><span class="fa fa-minus"></span></i>
            </a>
            <ul class="mfb-component__list">
              <li>
                <a href="#" data-mfb-label="Add As Task" data-type="task" class="mfb-component__button--child add" data-dismiss="modal" aria-label="Close" style="background-color:#0A61E4">
                  <i class="mfb-component__child-icon" ><span class="fa fa-tasks"></span></i>
                </a>
              </li>
              <li>
                <a href="#" data-mfb-label="Add As Reminder" data-type="reminder" class="mfb-component__button--child add" data-dismiss="modal" aria-label="Close" style="background-color:#5EE40A">
                    
                  <i class="mfb-component__child-icon " ><span class="fa fa-pencil"></span></i>
                </a>
              </li>
            </ul>
          </li>
        </ul>


      </div>
    
    </div>

  </div>
</div>
<script src="/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $(function(){
        $('#datePicker').datepicker({
            maxViewMode: 1,
            todayBtn: true
        });
        
        $('.add').click(function(){
            
            var type = $(this).data().type;
            var color = null;
            switch(type){
                case "task": 
                        {
                            color = "#0A61E4";
                        }
                        break;
                case "reminder":
                        {
                            color = "#5EE40A";
                        }
                        break;
            }
            var data ={
                taskText:$('#newTask').val(),
                date:$('#datePicker').data().datepicker.viewDate,
                color: color
            }
            $.ajax({
                type: "POST",               
                data: JSON.stringify(data),
                contentType: "application/json",
                success:function(result){
                if(result==="OK")
                    {
                        location.reload();
                    }
            }
            });
        });
    })

</script>